<nav>
    <div class="nav-container">
        <div class="nav-section logo">
            <i class="pi pi-camera" style="font-size: 1rem"></i>
            <p class="name">SHOOT</p>
        </div>
        <ul class="nav-section nav-links">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/products">Out Cameras</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
        <ul class="nav-section nav-login">
            <li><a routerLink="/login">Sign In</a></li>
            <p-button label="Register"><a routerLink="/register"></a></p-button>
        </ul>
    </div>
</nav>

