<div class="container">
    <div class="selection-container">
        <div class="selection-header">
            <h6>Browse Our Selection of</h6>
            <h3>Quality Rental Cameras</h3>
            <p>Choose from a variety of our amazing cameras to rent for your next photoshoot or video gig</p>
        </div>
        <div class="selection-content">
            <div class="selection-content-buttons">
                <p-button *ngFor="let camera of cameras" label={{camera.name}} [style]="{width: '160px'}"></p-button>
            </div>
            <div class="selection-content-img">

            </div>
            <div class="selection-content-table">
                
                <p-table value={{cameras}} styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">
                    <ng-template pTemplate="caption">
                        {{name}}
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{price}}</th>
                            <th>{{name}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{sensor}}</td>
                            <td>{{lens}}</td>
                            <td>{{files}}</td>
                            <td>{{video}}</td>
                            <td>{{ios}}</td>
                            <td>{{shoot}}</td>
                            <td>{{weight}}</td>
                            <td>{{dimensions}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        Footer
                    </ng-template>
                </p-table>

            </div>
        </div>
    </div>
</div>
