<div class="container">
    <div class="selection-container">
        <div class="selection-header">
            <h6>Browse Our Selection of</h6>
            <h3>Quality Rental Cameras</h3>
            <p>Choose from a variety of our amazing cameras to rent for your next photoshoot or video gig</p>
        </div>
        <div class="selection-content">
            <div class="selection-content-buttons">
                <p-button *ngFor="let camera of cameras" label={{camera.name}} [style]="{width: '160px'}"></p-button>
            </div>
            <div class="selection-content-right">

                <div class="selection-content-img">
                    <img src={{selectedCamera.img}} alt="">
                </div>
                <div class="selection-content-table">
                    
                    <p-table styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">
                        <ng-template pTemplate="caption">
                            {{selectedCamera.name}}
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>{{selectedCamera.price}}</th>
                                <th>{{selectedCamera.name}}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body">
                            <tr>
                                <td>{{selectedCamera.sensor}}</td>
                                <td>{{selectedCamera.lens}}</td>
                                <td>{{selectedCamera.files}}</td>
                                <td>{{selectedCamera.video}}</td>
                                <td>{{selectedCamera.ios}}</td>
                                <td>{{selectedCamera.shoot}}</td>
                                <td>{{selectedCamera.weight}}</td>
                                <td>{{selectedCamera.dimensions}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            Footer
                        </ng-template>
                    </p-table>
            </div>
            </div>
        </div>
    </div>
</div>
