.selection-container{
    display: flex;
    flex-direction: column;
.selection-content{
    display: flex;
    justify-content: space-around;

    .selection-content-right{
        display: flex;
    }
}
}