.hero-container {
  width: 100vw;
  background-color: #ea580c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 1rem;
    padding: 0.5rem;
    max-width: 900px;

    h1 {
      padding: 2rem 1rem;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 3rem;
      line-height: 1;
      max-width: 600px;
    }

    form {
      display: flex;
      justify-content: center;
      align-items: end;
      flex-wrap: wrap;
      gap: 1rem;

      .hero-selection {
        display: flex;
        flex-direction: column;

        label {
          font-size: 16px;
          line-height: 18px;
          font-weight: 700;
        }
        span {
          color: #ea580c;
        }
      }
    }
  }
}
