<div class="container">
    <div class="hero-container">
        <div class="hero-content">
            <h1>
                Rent our gear for your next shoot
            </h1>
            <form action="">
                <div class="hero-selection">
                    <label for="start-date"><i class="pi pi-calendar"></i> Start Date <span class="alert">*</span></label>
                    <p-calendar formControlName="end-date"></p-calendar>
                </div>
                <div class="hero-selection">
                    <label for="end-date"><i class="pi pi-calendar"></i> End Date <span class="alert">*</span></label>
                    <p-calendar formControlName="end-date"></p-calendar>
                </div>
                <div class="hero-selection">
                    <label for="start-date"><i class="pi pi-calendar"></i> Start Date <span class="alert">*</span></label>
                    <p-calendar formControlName="start-date"></p-calendar>
                </div>
                <div class="hero-selection">
                    <label for="end-date"><i class="pi pi-calendar"></i> End Date <span class="alert">*</span></label>
                    <p-calendar formControlName="end-date"></p-calendar>
                </div>
                <p-button label="Rent Now" ></p-button>
            </form>
        </div>
    </div>
</div>